doctype html
html
    head
        title User Manager
    body
        form(method='POST', action='/users')
            div
                label(for='userId') User ID
                input(id='userId', name='userId' value='')
            div
                label(for='name') Name
                input(id='name', name='name' value='')
            div
                label(for='email') Email
                input(id='email', name='email' value='')
            div
                label(for='age') Age
                input(id='age', name='age' value='')
            div
                input(type='submit', value='Add User')
